// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.active {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-color: gray;
}
.active-thumbnail {
    width: 30px;
    height: 30px;
    background: gray;
}

.tag-container {
    display: flex;
    flex-flow: row wrap;
}

.tag {
    pointer-events: none;
    background-color: #242424;
    color: white;
    padding: 6px;
    margin: 5px;
}

.tag::before {
    pointer-events: all;
    display: inline-block;
    content: "x";
    height: 20px;
    width: 20px;
    margin-right: 6px;
    text-align: center;
    color: #ccc;
    background-color: #111;
    cursor: pointer;
}
