// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.active {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-color: gray;
}
.active-thumbnail {
    width: 30px;
    height: 30px;
    background: gray;
}
